body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h4 {
  font-size: 20px;
  margin: 20px;
  font-weight: lighter;
}

#hscore {
  color: #b54be5;
}

#mainsection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#quizblock {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

#quizblock h2 {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 10px;
}

#quizblock p {
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.nbutton {
  padding: 15px 25px 15px 25px;
  font-size: 20px;
  background-color:#351c75;
  border-radius: 10px;
  color: white;
  border:none;
  text-align: left;
}

.nbutton:hover {
  background-color:#bd60e7;
}

#buttonholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#buttonholder .answerbutton {
  min-width: 40%;
  margin-right: 100px;
  margin-top: 10px;
}


#initialstext {
  font-size: 30px;
}

#initialsbutton, #initialsinput, #initialstext {
  display: none;
}
